/* font */

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');

/* default */

*,
::before,
::after {
    box-sizing: border-box;
}

html, body {
    background: white;
    color: #242424;
    font-size: 16px;
    line-height: 1.6rem;
    font-family: 'Source Serif 4', Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
}

@media screen and (min-width: 425px) {
    html, body {
        font-size: 20px;
    }
}

img {
    height: auto;
    max-height: 50vh;
    max-width: 100%;
    margin: 2rem auto;
    display: block;
}

table {
    margin: 2rem auto;
    min-width: 70%;
    max-width: 100%;
}

th {
    font-weight: bold;
}

th, td {
    padding: .4rem;
    border: black 2px solid;
    text-align: center;
}

p {
    margin: 1.4rem 0;
}

h1 {
    font-size: 2.1rem;
    margin: 1.5rem 0;
}

h2 {
    font-size: 1.6rem;
    margin: 1.5rem 0;
}

h3 {
    font-size: 1.4rem;
    margin: 1.5rem 0;
}

blockquote {
    color: gray;
    border-left: lightgray 5px solid;
    padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.25;
}

a {
    color: #c0392b;
}

pre code {
    display: block;
    width: 100%;
    height: auto;
    background: rgb(240, 240, 240);
    padding: 2rem;
}

hr {
    margin: 2rem 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1.4rem 0;
    padding-left: 2rem;
}

li {
    display: list-item;
}

/* container */

.title {
    text-align: center;
}

.container {
    max-width: 760px;
    padding: 0 2rem;
    width: 100%;
    margin: 3rem auto;
}


/* posts */

.post-list {}

.post {
    margin-bottom: .5rem;
    display: block;
}

/* table of contents */

.toc {}

.toc ul {
    list-style: none;
}

/* katex */

.katex-display {
    margin: 2rem 0 !important;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* utils */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.no-text-decoration {
    text-decoration: none;
}