<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club de Mathématiques Notre-Dame de La Providence</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="img/logo-notre-dame-providence.png">

    <!-- css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- easter egg -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/egg.js/1.0/egg.min.js" integrity="sha512-tCSilflSXbmjMtEv9NTrhg32Lnv7zkoiiBa4QuKUvHeCEovI705gfG15UKyUCm2OZMLTahszyFyedeXbnbdXKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var egg = new Egg();
            const code = "up, up, down, down, left, left, right, right"
            egg.addCode(code, () => {
                document.querySelector("#egg-img").src = "img/euler.gif"
            }).listen();
        })
            
    </script>

</head>
<body>
    
    <div class="container">

        <img id="egg-img" src="img/logo-notre-dame-providence.png" alt="Logo laprovidence">
        <h1 class="title">Club de Mathématiques</h1>

        <p>
            Retrouvez ici les archives des ateliers par ordre chronologique depuis la création du club.
        </p>

        <div class="posts-list">

            {{posts_list}}

        </div>

        <h2>Présentation</h2>

        <p>
           Le club de maths avait pour objectif de permettre aux élèves d'échanger sur des mathématiques concrètes permettant de mieux comprendre les enjeux du monde contemporain et d'adopter un nouveau point de vue sur la discipline.
        </p>

        <p>
            Loin des cours de maths traditionnels, le club n'avait pas pour ambition de délivrer un savoir académique exhaustif et rigoureux mais simplement d'élargir la culture mathématique de ses membres, au travers d'ateliers divers, mêlant mathématiques, histoire, philosophie, géopolitique etc.
        </p>

        <p>
            Les ateliers rassemblaient généralement pendant une heure une dizaine d'élèves à laquelle était présenté un sujet mathématique donné sur lequel ils étaient invités à réfléchir durant des instants de réflexion et de recherche. 
        </p>

        <p>
            Le club avait également pour ambition de préparer les élèves qui le souhaitaient au Grand Oral en leur proposant un large éventail de sujets dans lesquels ils pouvaient puiser pour la préparation de l'épreuve.
        </p>

        <h2>Code Source</h2>

        Le code source du site est accessible au lien suivant : <a href="https://github.com/RaphaelGoutmann/Site-club-de-maths">https://github.com/RaphaelGoutmann/Site-club-de-maths</a>

    </div>

    <!-- js -->
    <script src="js/main.js"></script>

</body>
</html>
