<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club de Mathématiques Notre-Dame de La Providence</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="img/logo-notre-dame-providence.png">

    <!-- css -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- easter egg -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/egg.js/1.0/egg.min.js" integrity="sha512-tCSilflSXbmjMtEv9NTrhg32Lnv7zkoiiBa4QuKUvHeCEovI705gfG15UKyUCm2OZMLTahszyFyedeXbnbdXKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            var egg = new Egg();
            const code = "up, up, down, down, left, left, right, right"
            egg.addCode(code, () => {
                document.querySelector("#egg-img").src = "img/euler.gif"
            }).listen();
        })
            
    </script>

</head>
<body>
    
    <div class="container">

        <img id="egg-img" src="img/logo-notre-dame-providence.png" alt="Logo laprovidence">
        <h1 class="title">Club de Mathématiques</h1>

        <p>
            Retrouvez ici les archives des ateliers par ordre chronologique depuis la création du club.
        </p>

        <div class="posts-list">

            {{posts_list}}

        </div>

        <h2>Code Source</h2>

        Le code source du site est accessible au lien suivant : <a href="https://github.com/RaphaelGoutmann/Site-club-de-maths">https://github.com/RaphaelGoutmann/Site-club-de-maths</a>

    </div>

    <!-- js -->
    <script src="js/main.js"></script>

</body>
</html>
